bin/
nimcache/
headers
generated
*.local*
selfhost
!selfhost.nim
**/clang/api.nim
src/henka/generator
tests/**/bindings.nim
tests/functional
tests/**/*.dlsl
tests/**/*.dylib
tests/**/*.so

# JS/TS Package
node_modules/
bun.lock
